<%- include('partials/head') %>

<body>

    <%- include('partials/header') %>
    
    <h2>List of Students Enrolled in the Course</h2>
    
    <ul>
        <% if (students && students.length) { %>
            <% students.forEach(student => { %>
                <li><%= student.fName %> <%= student.lName %></li>
            <% }); %>
        <% } else { %>
            <li>No students enrolled in this course.</li>
        <% } %>
    </ul>

    <footer>
        <%- include('partials/footer'); %>
    </footer>

</body>
</html>